[MASTER]

max-line-length=80
# Make sure single / double quotes are used consistently within a module
check-quote-consistency=yes

# Set to 0 to auto-detect the number of processors available to use.
jobs=0

# Don't complain about "TODO", "FIXME", and "XXX" in the code
disable=fixme

# Only display messages, no aggregate report
reports=no

# Maximum number of attributes for a class (see R0902).
max-attributes=7
