[MASTER]
# Set to 0 to auto-detect the number of processors available to use.
jobs=0

[FORMAT]
max-line-length=80

[STRING]
# Make sure single / double quotes are used consistently within a module
check-quote-consistency=yes

[MESSAGES CONTROL]
# Don't complain about "TODO", "FIXME", and "XXX" in the code
# allow comparing len in conditionals
disable=
    fixme,
    len-as-condition

[REPORTS]
# Only display messages, no aggregate report
reports=no

[DESIGN]
# Maximum number of attributes for a class (see R0902).
max-attributes=7

[BASIC]
good-names=i,j,k,fp,sp
